
@{
    if (ViewData["Title"] == null)
    {
        ViewData["Title"] = "Ação Concluída";
    }
}

<h2 style="margin-bottom:10px;">@ViewData["Title"]</h2>

<div>
    <a asp-controller="Tarefas" asp-action="Index" class="btn btn-info">Página Inicial</a>
</div>