@model App4.Models.Pessoa


<div class="container">

    <div class="form-group row">
        <div class="col-md-4">
            <h2>Editar cadastro</h2>
        </div>
    </div>
    <form asp-action="Update" method="post">

        <div class="form-group row">
            <div class="col-md-4">
                <label asp-for="Nome">Nome: </label><input type="text" asp-for="Nome" name="Nome" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4">
                <label asp-for="Idade">Idade: </label><input asp-for="Idade" type="number" name="Idade" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-4">
                <input type="submit" name="Submit" class="btn btn-info" value="Atualiza cadastro de pessoa" />
            </div>
        </div>

    </form>

    <div>
        <a asp-controller="Pessoas" asp-action="Index" class="btn btn-primary">Voltar à página inicial</a>
    </div>

</div>
